*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --colour-primary-1: #fffbeb;
  --colour-primary-2: #fcd34d;
  --colour-primary-3: #fbbf24;
  --colour-primary-4: #f59e0b;
  --colour-primary-5: #d97706;
  --colour-primary-6: #fef3c5;

  --colour-secondary-1: #e6e6e6;
  --colour-secondary-2: #bfbfbf;
  --colour-secondary-3: #999999;
  --colour-secondary-4: #4d4d4d;

  --colour-dark-1: #495057;
  --colour-dark-2: #343a40;
  --colour-dark-3: #212529;

  --colour-white-1: #fff;
  --colour-white-2: #f8f9fa;
  --colour-white-3: #e9ecef;
  --border-radius: 0.5rem;
  --font-size-1: 1.6rem;
  --font-size-2: 1.8rem;
  --font-size-3: 2.4rem;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  background-color: var(--colour-dark-3);
  overflow-y: overlay;
  position: relative;
}

@supports not (overflow-y: overlay) {
  body {
      overflow-y: auto;
  }
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  background: var(--colour-dark-3);
}

::-webkit-scrollbar-thumb {
  background: var(--colour-secondary-3);
  border: 0.1em solid var(--colour-dark-2);
  border-radius: 1em;
  min-height: 5em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colour-secondary-2);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--colour-secondary-3) var(--colour-dark-2);
    scrollbar-width: auto;
  }
}
